<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body style="background: #B0C4DE;">
<div class="container" >

<p th:text="${novel.getTitle()}"></p>
<div class="row">
<div class="text-dark col-md-4 offset-md-4" style="background: #f5deb3;">
    <ul style="list-style: none;" th:each="line : ${lines}">
            <p th:text="${line}"></p>
    </ul>
</div>

</div>
    <!--'/novel/'+${novel.getId()}+'/read/'+(${index}-1)-->
    <div>
        <a th:href="@{'/novel/'+${novel.getId()}+'/read/'+${index-1}}" >上一章</a><br>
        <a th:href="@{'/novel/'+${novel.getId()}+'/read/'+${index+1}}">下一章</a>
    </div>

</div>
</body>
</html>